/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6
                &kp Q  &kp W  &kp F  &kp P  &kp G  &kp J
                &kp A  &kp R  &kp S  &kp T  &kp D  &kp H
                &kp Z  &kp X  &kp C  &kp V  &kp B  &kp K

                &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS &kp EQUAL
                &kp L  &kp U  &kp Y  &kp SEMI &kp LBKT &kp RBKT
                &kp N  &kp E  &kp I  &kp O    &kp QUOT &kp BSLH
                &kp M  &kp COMMA &kp DOT &kp SLASH &kp UP &kp DOWN

                &kp LGUI &kp SPC &kp ENTER
                &kp BSPC &kp RALT &kp DEL
            >;
        };
    };
};